@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Righteous", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: #c7cdd3;
}
.card {
  width: 120px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d;

  transition: transform 0.5s;
}

.card-back,
.card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  backface-visibility: hidden;
  cursor: pointer;
}

.card-back {
  background-color: #05c3ff;
  font-size: 30px;
  color: #101c2c;
}

.flip {
  transform: rotateY(180deg);
}
.card-front {
  transform: rotateY(180deg);
  background-color: #101c2c;
}

#gameOver,
#gameStart {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000e;
  color: #fff;
  font-size: 52px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  top: 0;
}
#gameStart {
  display: flex;
}
#gameStart input {
  border-radius: 25px;
  line-height: 75px;
  font-size: 50px;
  text-transform: capitalize;
  padding: 20px;
  margin-bottom: -25px;
}
#restart,
#start {
  padding: 20px;
  font-size: 20px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
}

#gameBoard {
  order: 1;
  margin-top: 50px;
  max-width: 900px;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  grid-gap: 16px;
}

#cont {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 400px;
}
@media screen and (min-width: 1440px) {
  .card {
    width: 150px;
    height: 150px;
  }
}
